<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.electronic.archive.mapper.CollectionProgressMapper">

    <!-- 根据任务ID查询进度信息 -->
    <select id="selectByTaskId" parameterType="string" resultType="com.electronic.archive.entity.CollectionProgress">
        SELECT * FROM collection_progress WHERE task_id = #{taskId}
    </select>

</mapper>
